body {
    margin: 0;
}

a {
    text-decoration: none;
    font-family: sans-serif;
    color: #484E47;
    font-size: 1.2rem;


}


/*FORSIDE START*/
.forsidepic {
    display: flex;
    background-image: url(billeder/baggrund_forside.png);
    background-size: 100vw;
    width: 101vw;
    height: 48vw;
    position: relative;
    z-index: 4;

}

#forside nav {
    background-color: white;
    position: absolute;
    width: 100vw;
    height: 4vw;
    z-index: 5;
    text-align: right;
    top: 45vw;
    left:
}

/*FORSIDE SLUT*/
/*PORTFOLIO START*/

.baggrundpic{
    display: flex;
    background-image: url(billeder/baggrund_skov.png);
    background-size: cover;
    width: 101vw;
    height: 48vw;
    position: relative;
    z-index: 4;
}

#portfolio nav{
    background-color: white;
    position: absolute;
    width: 100vw;
    height: 4vw;
    z-index: 5;
    text-align: right;
}
