body {
    margin: 0;
}

p {
    font-family: sans-serif;
}

li {
    font-family: sans-serif;
}

h3 {
    font-family: sans-serif;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    height: 3rem;
    width: 90rem;
    z-index: 5;
    background-color: white;
    position: fixed;
}

nav a {
    text-decoration: none;
    font-family: sans-serif;
    color: #484E47;
    font-size: 1.4rem;
    padding-left: 5rem;
    font-weight: bold;
    padding-right: 2rem;

}

nav a:hover {
    color: saddlebrown;
    font-family: sans-serif;
    text-decoration: none;
}


/*FORSIDE START*/


.forsidepic {
    display: flex;
    background-image: url(billeder/baggrund_forside.png);
    background-size: 100%;
    width: 101vw;
    height: 48vw;
    position: relative;
    z-index: 4;

}

#forside nav {
    background-color: white;
    position: absolute;
    width: 100vw;
    z-index: 5;
    text-align: right;
    position: fixed;
}



/*FORSIDE SLUT*/
/*PORTFOLIO START*/

#portfolio {
    display: flex;
    background-image: url(billeder/baggrund_skov.png);
    background-size: cover;
    width: 100vw;
    height: 50vw;
    position: relative;
    z-index: 1;
    background-repeat: repeat-y;
    flex-direction: column;

}

/*Gælder for alle sider med baggrundsbillede af skov*/

#portfolio nav {
    background-color: white;
    position: relative;
    z-index: 5;
    text-align: right;
}

.box1 {
    flex-basis: 200px;
    position: relative;
    width: 15vw;
    height: 15vw;
    background-color: rgba(255, 255, 255, 0.76);
    text-align: center;



}

.box2 {
    flex-basis: 200px;
    position: relative;
    width: 15vw;
    height: 15vw;
    background-color: rgba(255, 255, 255, 0.76);
    text-align: center;


}


.box3 {
    flex-basis: 200px;
    position: relative;
    width: 15vw;
    height: 15vw;
    background-color: rgba(255, 255, 255, 0.76);
    text-align: center;


}

.box4 {
    flex-basis: 200px;
    position: relative;
    width: 15vw;
    height: 15vw;
    background-color: rgba(255, 255, 255, 0.76);
    text-align: center;


}


#portfolio a {
    position: relative;
    top: 6.5vw;
    font-family: sans-serif;
    color: #484E47;
    font-size: 1.3rem;
    text-decoration: none;

}

h1 {
    color: #484E47;
    font-family: sans-serif;
    font-size: 5rem;
    text-align: center;



}

/*Hover til hver boks*/
#portfolio .overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(53, 111, 39, 0.56);
}


#portfolio .box1:hover .overlay1 {
    opacity: 1;
}

#portfolio .box2:hover .overlay1 {
    opacity: 1;
}

#portfolio .box3:hover .overlay1 {
    opacity: 1;
}

#portfolio .box4:hover .overlay1 {
    opacity: 1;
}

#portfolio .sectionwrapper1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5rem;
}

/*PORTFOLIO SIDE SLUT*/

/*CV START*/
/*Samme opsætning bruges i portfolio undersiderne som i CV
Husk at sæt det ind*/


#cv {
    display: flex;
    background-image: url(billeder/baggrund_skov.png);
    background-size: cover;
    width: 100vw;
    height: 50vw;
    position: relative;
    z-index: 1;
    background-repeat: repeat-y;
    flex-direction: column;

}



#cv .sectionwrapper1 {
    display: flex;
    flex-wrap: wrap;
}

#cv .col1 {
    margin-top: 2rem;
    flex-basis: 300px;
    flex-grow: 1;
    padding-left: 5rem;

}

#cv .billede {
    background-image: url(billeder/kathrinebrohus.jpg);
    width: 20vw;
    height: 20vw;
    background-repeat: no-repeat;
}

/*CV SLUT*/

/*01 WEB START*/
#web {
    display: flex;
    background-image: url(billeder/baggrund_skov.png);
    background-size: cover;
    width: 100vw;
    height: 50vw;
    position: relative;
    z-index: 1;
    background-repeat: repeat-y;
    flex-direction: column;
    background-color: aqua;

}

#web .sectionwrapper1 {
    display: flex;
    flex-wrap: wrap;
}

#web .col1 {
    margin-top: 2rem;
    flex-basis: 300px;
    flex-grow: 1;
    padding-left: 5rem;

}

#web .billede {
    background-image: url(billeder/splash.png);
    width: 37vw;
    height: 22vw;
    background-repeat: no-repeat;
    background-position: 2% 40%;
    background-size: 100%
}

/*01 WEB SLUT*/
/*02 ANIMATION START*/
#animation {
    display: flex;
    background-image: url(billeder/baggrund_skov.png);
    background-size: 100%;
    width: 100vw;
    height: 70vw;
    position: relative;
    z-index: 1;
    background-repeat: repeat;
    flex-direction: column;

}

#animation .sectionwrapper1 {
    display: flex;
    flex-wrap: wrap;

}

#animation .col1 {
    margin-top: 2rem;
    flex-basis: 300px;
    flex-grow: 1;
    padding-left: 5rem;

}

#animation .billede {
    background-image: url(billeder/kathrinebrohus.jpg);
    width: 20vw;
    height: 20vw;
    background-repeat: no-repeat;
}

#animation .sectionwrapper2 {
    display: flex;
    flex-wrap: wrap;
}

#animation .col2 {
    margin-top: 3rem;
    flex-basis: 300px;
    flex-grow: 1;
    padding-left: 5rem;

}

#animation .billede2 {
    background-image: url(billeder/kathrinebrohus.jpg);
    width: 20vw;
    height: 20vw;
    background-repeat: no-repeat;
}

/*02 ANIMATION SLUT*/

/*03 INDHOLD START*/
#indhold {
    display: flex;
    background-image: url(billeder/baggrund_skov.png);
    background-size: 100%;
    width: 100vw;
    height: 70vw;
    position: relative;
    z-index: 1;
    background-repeat: repeat;
    flex-direction: column;

}

#indhold .sectionwrapper1 {
    display: flex;
    flex-wrap: wrap;

}

#indhold .col1 {
    margin-top: 2rem;
    flex-basis: 300px;
    flex-grow: 1;
    padding-left: 5rem;

}

#indhold .billede {
    background-image: url(billeder/kathrinebrohus.jpg);
    width: 20vw;
    height: 20vw;
    background-repeat: no-repeat;
}

#indhold .sectionwrapper2 {
    display: flex;
    flex-wrap: wrap;
}

#indhold .col2 {
    margin-top: 3rem;
    flex-basis: 300px;
    flex-grow: 1;
    padding-left: 5rem;

}

#indhold .billede2 {
    background-image: url(billeder/kathrinebrohus.jpg);
    width: 20vw;
    height: 20vw;
    background-repeat: no-repeat;
}

/*03 INDHOLD SLUT*/
/*04 UX START*/

#ux {
    display: flex;
    background-image: url(billeder/baggrund_skov.png);
    background-size: 100%;
    width: 100vw;
    height: 70vw;
    position: relative;
    z-index: 1;
    background-repeat: repeat;
    flex-direction: column;

}

#ux .sectionwrapper1 {
    display: flex;
    flex-wrap: wrap;

}

#ux .col1 {
    margin-top: 2rem;
    flex-basis: 300px;
    flex-grow: 1;
    padding-left: 5rem;

}

#ux .billede {
    background-image: url(billeder/kathrinebrohus.jpg);
    width: 20vw;
    height: 20vw;
    background-repeat: no-repeat;
}

#ux .sectionwrapper2 {
    display: flex;
    flex-wrap: wrap;
}

#ux .col2 {
    margin-top: 3rem;
    flex-basis: 300px;
    flex-grow: 1;
    padding-left: 5rem;

}

#ux .billede2 {
    background-image: url(billeder/kathrinebrohus.jpg);
    width: 20vw;
    height: 20vw;
    background-repeat: no-repeat;
}

/*04 UX SLUT*/

/*FOOTER START*/
#info .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: #3b332e;
    position: relative;
    flex-direction: row;
}

#info .col {
    flex-grow: 2;
    flex-basis: 200px;
    margin: 1vw;
    margin-top: 5vw;
    margin-bottom: 8vw;
    padding: 0.5vw;
    font-size: 12px;
}

#info p,
h4 {
    color: white;
    font-family: sans-serif;
    text-align: center;
}

@media (max-width: 600px) {
    p {
        font-size: 1rem;
    }

    h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    .forsidepic {
        background-image: url(billeder/baggrund_forside.png) max-width: none;
        background-size: cover;
        width: 100vw;
        height: 120vw;
        background-position: 1%;
    }

    #portfolio {
        background-image: url(billeder/baggrund_skov.png) max-width: none;
        background-size: cover;
        background-repeat: repeat-y;
        width: 100vw;
        height: 130vw;
        background-position: 50%;

    }

    #portfolio .sectionwrapper1 {
        display: inline-block;
        text-align: center;
        margin-top: 0;

    }

    #portfolio .box1,
    .box2,
    .box3,
    .box4 {
        width: 50vw;
        margin-left: 6.5rem;
        margin-top: 2rem;

    }


    #cv {
        background-image: url(billeder/baggrund_skov.png) max-width: none;
        background-size: cover;
        background-repeat: repeat-y;
        width: 100vw;
        height: 190vw;
        background-position: 50%;

    }

    #cv .billede {

        width: 60vw;
        height: 54vw;
    }


    #web {
        background-image: url(billeder/baggrund_skov.png) max-width: none;
        background-size: cover;
        background-repeat: repeat-y;
        width: 100vw;
        height: 190vw;
        background-position: 50%;

    }

    #web .billede {

        width: 60vw;
        height: 54vw;
    }

    #animation {
        background-image: url(billeder/baggrund_skov.png) max-width: none;
        background-size: cover;
        background-repeat: repeat-y;
        width: 100vw;
        height: 260vw;
        background-position: 50%;

    }

    #animation .billede {

        width: 60vw;
        height: 54vw;
    }

    #animation .billede2 {

        width: 60vw;
        height: 54vw;
    }

    #indhold {
        background-image: url(billeder/baggrund_skov.png) max-width: none;
        background-size: cover;
        background-repeat: repeat-y;
        width: 100vw;
        height: 260vw;
        background-position: 50%;

    }

    #indhold .billede {

        width: 60vw;
        height: 54vw;
    }

    #indhold .billede2 {

        width: 60vw;
        height: 54vw;
    }

    #ux {
        background-image: url(billeder/baggrund_skov.png) max-width: none;
        background-size: cover;
        background-repeat: repeat-y;
        width: 100vw;
        height: 260vw;
        background-position: 50%;

    }

    #ux .billede {

        width: 60vw;
        height: 54vw;
    }

    #ux .billede2 {

        width: 60vw;
        height: 54vw;
    }
}

@media only screen and (max-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;


    }

    /*BURGERMENU*/

    .hidden {
        display: none;
        /*    transform: scale(0);*/
        transform: translateX(-100%);

    }

    #burgermenu {
        position: relative;
        position: fixed;
        top: 0;


    }

    #menuknap {
        position: absolute;
        color: white;
        font-size: 2rem;
        z-index: 3;
        display: inline-block;


    }

    #menu {
        position: absolute;
        list-style-type: none;
        transition: transform .3s;
        transform-origin: top left;
        top: 0;
        background-color: rgba(255, 254, 254, 0.75);
        z-index: 2;

    }

    #nav {
        display: none;
    }

    a {
        text-decoration: none;
        font-family: sans-serif;
        color: #484E47;
        font-size: 1.3rem;
        font-weight: bold;
        padding-right: 0.5rem;

    }


}

@media only screen and (min-width: 600px) {

    #burgermenu {
        display: none;
    }


}
